<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .mainBlock {
            font-family: Arial, sans-serif;
            display: flex;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: fit-content;
        }

        .rtc {
            position: absolute;
            top: 10px;
            right: 20px;
            padding: 10px;
        }

        table {
        border-collapse: collapse;
    }

    td {
        border-bottom: 1px solid #9b9b9b;
    }

    th {
        border-bottom: 1px solid #9b9b9b;
    }
    </style>
</head>

<body>
    <div class="rtc"> <!-- right top corner-->
        <button onclick="location.href='./setting'" style="font-size: medium;">Settings</button>
        <button onclick="location.href='/logout'" style="font-size: medium;">Logout</button>
    </div>
    <div style="display: block;" class="mainBlock">
        <div>
            <h2>Dashboard</h2>
        </div>
        <div id="selectoptions">
            <span>
                <form id="cityAndSiteForm">
                    <span id="city">
                       <select id="citySelect" title="city" onchange="updateSiteList()">
                        <option selected></option>
                       </select>
                      </span>

                    <span id="site">
                        <select id="siteList" title="site" required onchange="updateUI()">
                            <option selected></option>
                         </select>
                    </span>
                    
                    <span id="submit">
                    <button onclick="sendForm()">submit</button>
                    </span>
            </span>
            <span id = "allDataTable">
                <div style="position: absolute; right: 0px; border: 2px solid rgb(133, 161, 161);">
                    <table>
                        <caption style="font-size: 60px;" id ="city_slash_site"><!--縣市/測站名稱--></caption>
                    <tr>
                        <th colspan="3">空氣品質指標(AQI)</th>
                    </tr>
                    <tr>
                        <td style="font-size: 90px; text-align: center;" colspan="3" id = "AQI_display"><!--AQI指數--></td>
                    </tr>
                        <tr>
                            <th style="width: 100px;" rowspan="2">PM<sub>2.5</sub></th>
                            <td style="width: 120px;">移動平均</td>
                            <td style="width: 100px; height: 40px;" id="PM2_5_avgMove"><!--PM2.5移動平均--></td>
                        </tr>
                        <tr>
                            <td>小時濃度</td>
                            <td style="height: 40px;" id="PM2_5_hour_concentrate"><!--PM2.5小時濃度--></td>
                        </tr>
                        <tr>
                            <th rowspan="2">PM<sub>10</sub></th>
                            <td>移動平均</td>
                            <td style="height: 40px;" id="PM10_avgMove"><!--PM10移動平均--></td>
                        </tr>
                        <tr>
                            <td>小時濃度</td>
                            <td style="height: 40px;" id="PM10_hour_concentrate"><!--PM10小時濃度--></td>
                        </tr>
                        <tr>
                            <th rowspan="2">O<sub>3</sub><br>臭氧</th>
                            <td>八小時移動平均</td>
                            <td style="height: 40px;" id="O3_8h_avgMove"><!--臭氧八小時移動平均--></td>
                        </tr>
                        <tr>
                            <td>小時濃度</td>
                            <td style="height: 40px;" id="O3_hour_concentrate"><!--臭氧小時濃度--></td>
                        </tr>
                        <tr>
                            <th rowspan="2">CO<br>一氧化碳</th>
                            <td>八小時移動平均</td>
                            <td style="height: 40px;" id="CO_8h_avgMove"><!--一氧化碳八小時移動平均--></td>
                        </tr>
                        <tr>
                            <td>小時濃度</td>
                            <td style="height: 40px;" id="CO_hour_concentrate"><!--一氧化碳小時濃度--></td>
                        </tr>
                        <tr>
                            <th>SO<sub>2</sub><br>二氧化硫</th>
                            <td>小時濃度</td>
                            <td style="height: 100px" id="SO2_hour_concentrate"><!--二氧化硫小時濃度--></td>
                        </tr>
                        <tr>
                            <th>NO<sub>2</sub><br>二氧化氮</th>
                            <td>小時濃度</td>
                            <td style="height: 100px" id="NO2_hour_concentrate"><!--二氧化氮小時濃度--></td>
                        </tr>
                    </table>
                </div>
                
            </span>

        </div>

        <img id="cumulateDataGraph">
        </img>

    </div>

    <script>
        let citySelect = document.getElementById('citySelect');
        let siteList = document.getElementById('siteList');
                // Fetch city data on page load
                document.getElementById('city').style.visibility = 'hidden';
        document.getElementById('site').style.visibility = 'hidden';
        document.getElementById('submit').style.visibility = 'hidden';
        fetch('/lcity')
            .then((response) => response.json())
            .then((response) => {
                citySelect.innerHTML = '<option selected></option>';
                let cityData = response.city;

                for (let i = 0; i < cityData.length; i++) {
                    let listItem = document.createElement('option');
                    listItem.textContent = cityData[i];
                    citySelect.appendChild(listItem);
                }
                
                // Trigger the initial update of siteList
                updateSiteList();
            });
        document.getElementById('city').style.visibility = 'visible';

        // Function to update the siteList dropdown
        function updateSiteList() {
            // Get the selected city
            let selectedCity = citySelect.value;


            // Make a POST request to the server with the selected city
            fetch('/lsite', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({city: selectedCity }),
            })
                .then((response) => response.json())
                .then((response) => {
                    // Remove all current options
                    siteList.innerHTML = '<option selected></option>';
                    // Add new options based on the response
                    let siteData = response.site;
                    console.log(siteData);
                    for (let i = 0; i < siteData.length; i++) {
                        let listItem = document.createElement('option');
                        listItem.textContent = siteData[i];
                        siteList.appendChild(listItem);
                    } // end of for loop
                }); // end of fetch()
                if(selectedCity != ''){
                    document.getElementById('siteList').style.visibility = 'visible';
                }
        } // end of updateSiteList()

        function updateUI(){
            if(siteList.value != ''){
                document.getElementById('submit').style.visibility = 'visible';
            }
        }

        function sendForm(){
            let selectedCity = citySelect.value;
            let selectedSite = siteList.value;
            console.log(selectedCity);
            console.log(selectedSite);
            fetch('/sendForm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({city: selectedCity, site: selectedSite }),
            })
                .then((response) => response.json())
                .then((response) => {

                    document.getElementById('submit').style.visibility = 'hidden';
                    //img1 and img2 are image files in response
                    document.getElementById('currentData').innerHTML = '<img src="data:image/png;base64,' + response.img1 + '">';
                    document.getElementById('cumulateDataGraph').innerHTML = '<img src="data:image/png;base64,' + response.img2 + '">';
                    console.log(response['data']);  //showdatas
                    document.getElementById('currentData').innerHTML = '<option selected>'+selectedCity+'</option>';
                    document.getElementById('cumulateDataGraph').innerHTML = '<option selected>'+selectedSite+'</option>';
                }); // end of fetch()
        }
    </script>
</body>

</html>
