<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <style>
        .mainBlock{
        font-family: Arial, sans-serif;
        display: flex;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width:fit-content;

        }
        .rtc{
            position: absolute;
            top: 10px;
            right: 20px;
            padding: 10px;
        }
        </style>

    </head>
    <body>
        <div class="rtc">
            <button onclick="location.href='./Settings.html'">Settings</button>
            <button onclick="/logout">Logout</button>
        </div>
        <div style="display: block;" class="mainBlock">
            <div>
                <h2>Dashboard</h2>
            </div>
            <div>
                <span>
                    <span>
                        <select>
                            <option></option>
                        </select>
                    </span>
                    <span>

                    </span>
                </span>
            </div>
        </div>
    </body>
</html>