<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .mainBlock {
            font-family: Arial, sans-serif;
            display: flex;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: fit-content;
        }

        .rtc {
            position: absolute;
            top: 10px;
            right: 20px;
            padding: 10px;
        }

        table {
        border-collapse: collapse;
    }

    td {
        border-bottom: 1px solid #9b9b9b;
    }

    th {
        border-bottom: 1px solid #9b9b9b;
    }

    #cumulateDataGraph {
        margin-top: auto;
        width: 60%;
        height: 60%;
    }

    </style>
</head>

<body>
    <div class="rtc"> <!-- right top corner-->
        <button onclick="location.href='./setting'" style="font-size: medium;">Settings</button>
        <button onclick="location.href='/logout'" style="font-size: medium;">Logout</button>
    </div>
    <div>
        <h2 style="display: block; text-align: center;">Dashboard</h2>
    </div>
    <div style="display: block;" class="mainBlock">
        <p>請選擇縣市與測站</p>
        <div id="selectoptions">
            <span>
                <form id="cityAndSiteForm">
                    <span id="city">
                       <select id="citySelect" name="city" title="city" onchange="updateSiteList()">
                        <option selected></option>
                       </select>
                      </span>

                    <span id="site">
                        <select id="siteList" name="site" title="site" required onchange="updateUI()">
                            <option selected></option>
                         </select>
                    </span>
                    
                    <span id="submit">
                    <button>submit</button>
                    </span>
            </span>
            <span id = "allDataTable">
                <div style="position: absolute; right: 0px; border: 2px solid rgb(133, 161, 161);">
                    <table>
                        <caption style="font-size: 60px;" id ="city_slash_site"><!--縣市/測站名稱--></caption>
                    <tr>
                        <th colspan="3">空氣品質指標(AQI)</th>
                    </tr>
                    <tr>
                        <td style="font-size: 90px; text-align: center;" colspan="3" id = "AQI_display"><!--AQI指數--></td>
                    </tr>
                        <tr>
                            <th style="width: 100px;" rowspan="2">PM<sub>2.5</sub></th>
                            <td style="width: 120px;">移動平均</td>
                            <td style="width: 100px; height: 40px;" id="PM2_5_avgMove"><!--PM2.5移動平均--></td>
                        </tr>
                        <tr>
                            <td>小時濃度</td>
                            <td style="height: 40px;" id="PM2_5_hour_concentrate"><!--PM2.5小時濃度--></td>
                        </tr>
                    </table>
                </div>
                
            </span>

        </div>

        <img id="cumulateDataGraph" src="/currentimg" style="visibility: hidden;"> </img>

    </div>

    <script>
        let citySelect = document.getElementById('citySelect');
        let siteList = document.getElementById('siteList');
                // Fetch city data on page load
                document.getElementById('city').style.visibility = 'hidden';
        document.getElementById('site').style.visibility = 'hidden';
        document.getElementById('submit').style.visibility = 'hidden';
        fetch('/lcity')
            .then((response) => response.json())
            .then((response) => {
                citySelect.innerHTML = '<option selected></option>';
                let cityData = response.city;

                for (let i = 0; i < cityData.length; i++) {
                    let listItem = document.createElement('option');
                    listItem.textContent = cityData[i];
                    citySelect.appendChild(listItem);
                }
                
                // Trigger the initial update of siteList
                updateSiteList();
            });
        document.getElementById('city').style.visibility = 'visible';

        // Function to update the siteList dropdown
        function updateSiteList() {
            // Get the selected city
            let selectedCity = citySelect.value;


            // Make a POST request to the server with the selected city
            fetch('/lsite', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({city: selectedCity }),
            })
                .then((response) => response.json())
                .then((response) => {
                    // Remove all current options
                    siteList.innerHTML = '<option selected></option>';
                    // Add new options based on the response
                    let siteData = response.site;
                    console.log(siteData);
                    for (let i = 0; i < siteData.length; i++) {
                        let listItem = document.createElement('option');
                        listItem.textContent = siteData[i];
                        siteList.appendChild(listItem);
                    } // end of for loop
                }); // end of fetch()
                if(selectedCity != ''){
                    document.getElementById('siteList').style.visibility = 'visible';
                }
        } // end of updateSiteList()

        function updateUI(){
            if(siteList.value != ''){
                document.getElementById('submit').style.visibility = 'visible';
            }
        }

        document.getElementById('cityAndSiteForm').addEventListener('submit', (e)=>{
            e.preventDefault();
            if(siteList.value == ''){
                alert('請選擇測站');
                return;
            }
            while(1){
                //2min
                console.log('updateing');
                if(!setTimeout(updateData, 10)){
                    alert('連線取得最新資料中，請稍後再試');
                }else{
                    break;
                }
            }
        });
        async function updateData(){
            var form = document.getElementById('cityAndSiteForm');
            try{
                var response = await fetch('/currentdata', {
                          method: 'POST',
                          body: new FormData(form)
                      });

                var dict = await response.json();
                const data = dict.data;
                console.log(data);
                if(dict.status == true){
                    console.log('update success');
                    document.getElementById('city_slash_site').innerHTML = data.County + '/' + data.SiteName;
                    document.getElementById('AQI_display').innerHTML = data.AQI;
                    console.log(data.AQI);
                    console.log(data.pm2_5);
                    console.log(data.pm2_5_avg);
                    document.getElementById('PM2_5_avgMove').innerHTML = data.pm2_5_avg;
                    document.getElementById('PM2_5_hour_concentrate').innerHTML = data.pm2_5;
                    document.getElementById('cumulateDataGraph').style.visibility = 'visible';
                    console.log('update success');
                    return true;
                }else{
                    alert('連線取得最新資料中，請稍後再試');
                    return false;
                }
            }catch(err){
                console.log(err);
                alert('連線取得最新資料中，請稍後再試');
                return false;
            }
        }
    </script>
</body>

</html>
